
.panelBox {
}

.activeBtn, .inactiveBtn, .occupiedBtn {
	color: #8ae234;
	background-color: #2e3436;
	border: 1px solid #2e3436;
	padding: 0 6px;
}


.inactiveBtn {
	color: #babdb6;
	background-color: #2e3436;
}

.occupiedBtn {
	color: #d7a571;
	background-color: #2e3436;
}
